<section class="cuenta-list">
  <h1>Cuentas Registradas</h1>
  <p class="sub">Listado general de cuentas activas del sistema</p>

  <div class="tabla">
    <div class="fila encabezado">
      <span>Número</span>
      <span>Tipo</span>
      <span>Usuario</span>
    </div>

    <div class="fila" *ngFor="let cuenta of cuentasPaginadas">
      <span>{{ cuenta.numero }}</span>
      <span>{{ cuenta.tipo }}</span>
      <span>{{ cuenta.usuario }}</span>
    </div>
  </div>
  <div class="paginacion">
    <button (click)="anterior()" [disabled]="paginaActual === 0">
      Anterior
    </button>
    <button
      (click)="siguiente()"
      [disabled]="(paginaActual + 1) * porPagina >= cuentas.length"
    >
      Siguiente
    </button>
  </div>
</section>
